DJANGO_SECRET_KEY=change-me-prod
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,your-domain.com
CORS_ALLOW_ALL_ORIGINS=False
WKHTMLTOPDF_PATH=/usr/bin/wkhtmltopdf

POSTGRES_DB=safarkaro
POSTGRES_USER=safarkaro
POSTGRES_PASSWORD=change-me-postgres

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
